body,html{
  overflow: hidden;
  background: #000002;
}
#left-bom-box,#left-top-box{
  position: fixed;
  min-width: 365px;
  min-height: 320px;
  left: 2%;
  background: rgba(0,0,0,.9);
  color:#fff;
  width: 22%;
  padding: 10px;
  height: 42%;
  .cont{
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
  }
}
.impor{
  color:#28B4C6!important;
}
#left-bom-box{
  bottom: 2% ;
  .box-tit{
    background: url(../images/qytj.png) no-repeat 3px 9px;
  }
  .tj-box{
    height: 36%;
  }

}
.box-tit{
  height: 40px;
  line-height: 40px;
  width: 80%;
  border-bottom: 1px solid #2E353B;
  h5{
    padding-left: 30px;
    display: inline-block;
  }
}
.tj-box{
  position: relative;
  margin-top: 4%;
  height: 34%;
  .tj-img{
    background: url("../images/yuan.png") no-repeat;
    width: 30%;
    height: 100%;

    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    .tj-cont{
      position: absolute;
      left: 50%;
      top: 27%;
      width: 100%;
      /* text-align: center; */
      transform: translateX(-43%);
      text-align: center;
      .impor{
        font-size: 1.5vw;
        margin-bottom: 1%;
      }
      p{
        margin: 0;
        font-size: 16px;
      }
    }

  }
  .box-data{
    vertical-align: top;
    position: absolute;
    top: 50%;

    font-size: 16px;
    left: 144px;
    margin-top: -33px;
    p:nth-of-type(1){
        margin-bottom: 25px;
    }
  }
}
#data-table{
  h6{
    text-align: center;
    background: #2A3F42;
    height: 20px;
    line-height: 20px;
    letter-spacing:4px;
  }
  .row{
    margin: 0;
    .col-md-3,.col-md-4{
   /*   min-height: 80px;
      line-height: 40px;*/
      line-height: 2em;
      background: #152024;
      padding: 0!important;
      margin: 3px;
      p:nth-of-type(1){
      }
      .impor{
        font-size: 1.1vw;
        font-weight: 700;
      }
      p{
        text-align: center;
        font-size: 0.6vw;
        margin: 0;
      }
    }
  }

}
#data-chart{
  margin-top: 2%;
  border: 1px solid #124438;
  height: 57%;
  .data-toogle{
    padding: 0;
    margin: 0;
    height: 35px;
    li{
      float: left;
      font-size: 12px;
      width: 16.66666666%;
      text-align: center;
      background: #1A46C1;
      height: 35px;
      overflow: hidden;
      cursor: pointer;
      padding-top: 1px;
    }
    .data-act{

      background: #1B6450!important;
    }
  }
  .chart{
    height: calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: -moz-calc(100% - 35px);
  }
}
#map{
  height: 100vh;
  width: 100vw;
}
#left-top-box{
  top: 10%;
  min-height: 320px;
  .box-tit{
    background: url("../images/ssqk.png") no-repeat -5px 5px;
  }

}
#right-bom-box,#right-top-box{
  position: fixed;
  right: 2%;
  width: 22%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.9);
  min-width: 365px;
  color: #fff;
  .cont{
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
  }
}
#right-top-box{
  height: 63%;
  top: 10%;
  .box-tit{
    background: url(../images/scqk.png) no-repeat 3px 9px;
  }
  .tj-box{
    height: 22%;

  }
  ul{
    padding: 0;
    width: 90%;
    margin: 0 5%;
    background: #0D5DB4;
    border-radius: 5px;
    margin-top: 3%;
    li{
      float: left;
      text-align: center;
      width: 20%;
      cursor: pointer;
      font-size: 12px;
      height: 25px;
      border-radius: 5px;
      line-height: 25px;
    }
    .sc-act{
      background: #fff;
      color: #0D5DB4!important;
    }
  }
  #chart2{
    width: 90%;
    margin: 0 5%;
    height: 68% ;
  }
}
#control{
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 11%;
  right: 50%;
  padding: 6px;
  transform: translateX(-50%);
  z-index: 999999;
  margin-right: -385px;
  background: rgba(0,0,0,.8);
  li{
    color: #fff;
  }
  input[type='checkbox']{

    float: right;
}
}
#right-bom-box{
  height: 21%;
  bottom: 2%;
  .box-tit{
    background: url(../images/gwqk.png) no-repeat 3px 9px;
  }
  .tj-box{
    height: 87%;
  }
}
@media (min-width: 992px){
  .col-md-4 {
    width: calc(33.33333333% - 6px)
  }
  .col-md-3 {
    width: calc(25% - 6px)
  }
}
@media (max-height: 914px) and (max-width: 1760px){

}
@media (min-width: 1760px) {
  .tj-box .box-data{
    left: 180px;
  }
}

@media (min-height: 914px) {
  #data-table .row .col-md-3, #data-table .row .col-md-4{
    line-height: 40px;
  }
  #left-top-box{
    min-height: 417px;
  }
}
.tog-skin {
  position: absolute;
  right: 40px;
  cursor: pointer;
  top: 15px;
  padding: 0;
  margin:  0;
  z-index: 9999;
  li{
    width: 15px;
    height: 15px;
    background: red;
    float: left;
    margin-left: 3px;
    border-radius: 3px;
    cursor: pointer;
  }
}